__pycache__/
*.pyc
.env
data/chroma_db/
vector_db/

/target/
/bin/

/bin/*
/.idea/*

data/cskg_dumps/
*.ttl

# virtuoso runtime
*.db
*.lck
*.trx
*.pxa
*.log
virtuoso-data/virtuoso-data/
.DS_Store
.idea/
.vscode/

.venv/
venv/


